{{template "base" .}}
{{define "title"}}WorkCycles RAL Colors{{end}}
{{define "head"}}
<meta property="og:url" content="https://workcycles-colors.com/" />
<meta property="og:title" content="WorkCycles in RAL Colors" />
<meta property="og:description" content="Unique custom color combinations from happy WorkCycles owners" />
<meta property="og:image" content="https://workcycles-colors.com/static/og_image.jpg" />
<meta property="og:image:width" content="1090" />
<meta property="og:image:height" content="570" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:author" content="@jehiah" />

<style type="text/css">

#summary {
  padding: 0.5rem;
}

#summary a:link, #summary a:visited {
  color: #006437;
}

#ral {
  padding: 1rem 0;
}

.frame {
  display: inline-block;
  border: 5px solid #fff;
  background-color: #fff;
  margin: 5px;
  overflow: clip;
}
.frame.inactive {
  border: 5px solid #f0f0f0;
}
.frame > img {
  height:  200px;
  display: block;
}

.thumbnail {

}
.attribution {
  display: block;
  margin: 3px 0 0 0;
  font-size: 12px;
  height: 20px;
}

.selector {
  display: inline-block;
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  padding: 0 .2rem;
  margin: 2px;
  border: 2px solid #fff;
  cursor: pointer;
}
.selector.dark {
  color: #ffffff;  
}
.selector:hover {
  border: 2px solid #666;
}
.selector.inactive {
  filter: grayscale(1);
  background-color: #e0e0e0 !important;
  color: #999;
  border: 2px dashed #999;
}

.ral {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  display: inline-block;
  cursor: pointer;
}
.ral:hover {
  border: 2px solid #666;
}


a.src {
  display: inline-block;
  margin-left: .5rem;
  font-size: 12px;
  line-height: 16px;
  color: #333;
  text-decoration: underline;
  vertical-align: top;
}

footer {
  text-align: center;
  font-size: .75rem;
  color: #999;
  padding: 2rem 1rem;
}
footer a:link, footer a:visited {
  color: #777;
}
footer p {
  margin-bottom: .5rem;
}

@media (max-width: 575.98px) {
  .frame > img {
    height:  150px;
  }
}

    </style>
{{end}}

{{define "body"}}

<div id="summary">Interested in <a href="https://workcycles.com/products/?utm_source=workcycles_colors_com">buying a WorkCycles</a> Fr8, Gr8 or Kr8 with custom <a href="https://www.ralcolor.com/">RAL colors</a>? Here are some unique color combinations from happy customers. Have a photo to contribute? <a href="/upload">Upload it</a>.</div>

<div id="ral"></div>
<div id="images"></div>
<footer>
<p>Made with ❤️ by <a href="https://jehiah.cz/">jehiah.cz</a>/<a href="https://twitter.com/jehiah">@jehiah</a><br>
  Proud owner of a WorkCycle Fr8 since 2017<br>
Also <a href="https://instagram.com/papafr8">@papafr8</a> on Instagram</p>
<br>
<p>Have a WorkCycles? Join <a href="https://www.facebook.com/groups/workcycles.bikes">@ WORKCYCLES bikes etc etc etc</a> on FaceBook.</p>
</footer>

<script type="module">

import * as d3 from "https://cdn.skypack.dev/d3@7";
import {json} from "https://cdn.skypack.dev/d3-fetch@3";
import {rgb} from "https://cdn.skypack.dev/d3-color@3";
import {differenceEuclideanRGB} from 'https://cdn.skypack.dev/d3-color-difference';
import {transition} from "https://cdn.skypack.dev/d3-transition@3";
import {shuffle} from "https://cdn.skypack.dev/d3-array@3";

const images = d3.selectAll("#images");
const colors = new Set();
const selectedColors = new Set();
const ral_colors = {
  // https://www.ralcolorchart.com/ral-classic
  // https://en.wikipedia.org/wiki/List_of_RAL_colors
  // https://www.ral-farben.de/en/all-ral-colours#classic
  "RAL1028": d3.rgb("#FFAB01"),
  "RAL3018": d3.rgb("#E6244B"),
  "RAL5018": d3.rgb("#48d5eb"), //"#3E898F", ? #058b8c ? 48D5EB 
  "RAL6029": d3.rgb("#327E43"),
  "RAL5012": d3.rgb("#3682BA"),
  "RAL5015": d3.rgb("#1190DC"),
  "RAL7022": d3.rgb("#4D4943"),
  "RAL2004": d3.rgb("#FF4C1E"),
  "RAL3020": d3.rgb("#FE5B29"),
  "RAL3007": d3.rgb("#5D2B3C"),
  "RAL6032": d3.rgb("#0BAF80"),
  "RAL6035": d3.rgb("#025229"),
}
const colorBlack = d3.rgb("#000000");
const colorWhite = d3.rgb("#ffffff");
function isDark(c) {
  if (differenceEuclideanRGB(c, colorBlack) < differenceEuclideanRGB(c, colorWhite)) {
    return true
  }
  return false
}

let ral =   d3.select("#ral").selectAll("div.selector");
// let frames = d3.select("#images").selectAll("div.frame");
let sourceData = null;
json("/static/bikes.json").then((data) => {
  shuffle(data);
  data.forEach(d => {
    if (typeof(d.color) == "string") {d.color = [d.color]}
    if (typeof(d.image_thumbnail) == "undefined") {d.image_thumbnail = d.image}
    d.color.forEach(dd => colors.add(dd))
  })
  sourceData = data;
  renderColors();
  updateImages(sourceData);
})

function selectColor(_, c) {
  if (selectedColors.size == 1) {
    selectedColors.clear(c)
  } else {
    selectedColors.add(c)
  }
  // console.log("selectedColors", selectedColors)

  d3.select("#ral").selectAll("div.selector")
  .classed("inactive", d => selectedColors.size != 0 && ! selectedColors.has(d))

  // d3.select("#images").selectAll("div.frame")
  // .classed("inactive", d => selectedColors.size != 0 && ! d.color.some(dd => selectedColors.has(dd)))

  updateImages(sourceData.filter(d => selectedColors.size == 0 || d.color.some(dd => selectedColors.has(dd))))
}

function renderColors() {
  ral.data(Array.from(colors).sort()).join("div")
  .attr("class", "selector")
  .classed("dark", d => isDark(ral_colors[d]))
  .style("background-color", d => ral_colors[d])
  .attr("title", d => d)
  // .data("color")
  .text( d => d)
  .on("click", selectColor)
}

function updateImages(data) {
  const t = d3.transition().duration(450);
  d3.select("#images").selectAll("div.frame")
  .data(data, d => d.image)
  .join(
    enter => {
      let f = enter.append("div").attr("class", "frame")

      f.append("img")
      .attr("src", d => d.image_thumbnail)  
      .attr("class", "thumbnail")

      let attribution = f.append("div")
      .attr("class", "attribution")

      attribution.selectAll("div.ral")
      .data(d => d.color)
      .join("div")
      .attr("class", "ral")
      .style("background-color", d => {return ral_colors[d]})
      .attr("title", d => d)
      .on("click", selectColor)

      attribution.append("a")
        .attr("class", "src")
        .attr("href", d => d.src)
        .text(d => d.copyright)
    },
    update => update,
    exit => exit.transition(t)
      .style("width", "0px")
      .style("border-width", "0px")
      .remove()
    )

}

</script>
{{end}}
